
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.main_flex {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.flex.nav {
    padding: 5px;
    background-color: #008080;
    padding: 20px;
    display: flex;
}

.flex.title {
    padding: 10px;
    display: flex;
}
.flex.title h3 {
    padding-left: 100px;
    font-size: 80px;
}

.flex.activity {
    background-color: #DED1BD;
    justify-content: space-between;
    display: flex;
}
.activity{
    flex:1;
}
.activity.right {
    font-size: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}
.activity.right form {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
}
.activity.right form .btn {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
    font-size: 15px;
    background-color: #c49c56;
}
button a {
    text-decoration: none;
    color: #000;
}

.activity.left {
    align-items: center;
    display: flex;
}
.activity.left img {
    width: 100%;
    max-height: 500px;
}

.flex.footer{
    display: flex;
}
.flex.footer a {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
    display: flex;
    text-decoration: none;
    color: #000;
}
@media (max-width: 768px) {
    .activity.left img {
        max-width: 100%; 
        max-height: 300px; 
    }
}
.content {
    display: flex;
    justify-content: space-between;
}
.form-container {
    padding: 20px;
    display: flex;
    flex-direction: column; /* Align form elements in a column */
    align-items: center; /* Center align the items */
}

.form-container form {
    width: 75%; /* Set the width of the form */
}

.form-container input,
.form-container button {
    width: 100%; /* Full width of the container */
    padding: 10px; /* Add some padding for better appearance */
    margin: 5px 0; /* Add margin for spacing between elements */
    font-size: 18px; /* Increase the font size */
    border: 1px solid #ccc; /* Optional: add border to input fields */
}

.form-container button {
    background-color: #c49c56;
    color: white; /* Text color for buttons */
    border: none; /* Remove border for buttons */
    cursor: pointer; /* Cursor change to indicate clickable */
}

.form-container, .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    padding: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

/* Adjusting media query for responsiveness */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }
    
    .image-container {
        order: -1; /* This will make the image appear above the form on smaller screens */
    }
}


