html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.main_flex {
    flex-direction: column;
    display: flex;
    height: 100%;
}
.flex.nav {
    display: flex;
    justify-content: space-between;
    background-color: #008080;
    padding: 5px;
    margin-bottom: 50px;
}
.flex.nav h4{
    padding-left: 10px;
}
.nav_links {
    justify-content: end;
}
.nav_links a{
    padding-right: 20px;
    text-decoration: none;
    color: #000;
}

.flex.activity {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    background-color: #DED1BD;
    display: flex;
    justify-content: space-between;
}

.activity.left {
    flex-direction: column;
    display: flex;
    margin-right: 70px;
}
.activity.left h3{
    padding-top: 10px;
}
.activity.left select {
    align-self: center;
    font-size: 20px;
    width: 600px;
    margin-bottom: 10px;
}
.activity.left input {
    align-self: center;
    font-size: 20px;
    width: 600px;
    margin-bottom: 10px;
}
.activity.left button {
    background-color: #c49c56;
    align-self: center;
    font-size: 20px;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
}
table {
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    width: 100%;
    border: 2px solid;
}


.activity.right {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}
.activity.right h3{
    padding-top: 10px;
}
.activity.right select {
    font-size: 20px;
    width: 600px;
}
.num {
    text-align: center;
    font-size: 80px;
    width: 600px;
}
.explain {
    text-align: center;
    font-size: 20px;
    width: 600px;
}
.flex.image img {
    width: 100%;
    height: 400px;
}
.logout{
    display: flex;
    background-color: #871a37;
}
.logout a{
    padding-left: 10px;
    padding-bottom: 10px;
    color: #DED1BD;
    text-decoration: none;
    font-size: 15px;
}
@media (max-width: 768px) {
    .flex.activity {
        flex-direction: column; 
        padding-left: 10px; 
        padding-right: 10px; 
        
    }
}

