
/* colors: 
#c49c56 - djon mustard yellow
#871a37 - maroon
#DED1BD - sand beige
#d2d4d3 - off white
#000000 - black
#a79990 - grey
#008080 - teal
*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.main_flex {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.flex.nav {
    padding: 5px;
    background-color: #008080;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
}

.flex.activity {
    flex-direction: column;
    background-color: #DED1BD;
    display: flex;
}
.flex.activity h3{
    padding-top: 10px;
    padding-left: 20px;
}
.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup input{
    margin-bottom: 10px;
    font-size: 20px;
    width: 500px;
}
.signup button{
    width: 500px;
    margin-bottom: 10px;
    background-color: #c49c56;

}
button a{
    color: #000;
    background-color: ;
    text-decoration: none;
}
