html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

.main_flex {
    
    flex-direction: column;
    display: flex;
    height: 100%;
    background-color: #DED1BD
}
.content_container {
    padding-left: 60px; /* Pushes content to the right */
    margin: 20px 0; /* Vertical margin for spacing */
    max-width: 800px; /* Adjust as needed */
}
.flex.nav {
    display: flex;
    justify-content: space-between;
    background-color: #008080;
    padding: 5px;
    margin-bottom: 50px;
}
.flex.nav h4{
    padding-left: 10px;
    font-size: 25px;
}
.nav_links {
    justify-content: flex-end;
}
.nav_links a{
    padding-right: 20px;
    text-decoration: none;
    color: #000;
}

.flex.activity {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    width: 100%;
    background-color: #DED1BD;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activity.top {
    flex-direction: column;
    display: flex;
    width: 100%
}
.activity.top h3{
    padding-top: 10px;
}
.activity.top select {
    font-size: 20px;
    width: 600px;
    margin-bottom: 10px;
}
.activity.top input {
    font-size: 20px;
    width: 600px;
    margin-bottom: 10px;
}
.activity.top button {
    background-color: #c49c56;
    font-size: 20px;
    width: 150px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
}
.activity.middle {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}
.activity.middle h3{
    padding-top: 10px;
}
.activity.middle select {
    font-size: 20px;
    width: 600px;
}
.activity.middle button {
    background-color: #c49c56;
    font-size: 20px;
    width: 150px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
}


.activity.bottom {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}
.activity.bottom h3{
    padding-top: 10px;
}
.activity.bottom select {
    font-size: 20px;
    width: 600px;
}
.activity.bottom button {
    background-color: #c49c56;
    font-size: 20px;
    width: 150px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
}
footer.logout{
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: #871a37;
}
.logout a{
    padding-left: 10px;
    padding-bottom: 10px;
    color: #DED1BD;
    text-decoration: none;
    font-size: 15px;
}
.activity.top .meal_type,
.activity.bottom select{
    max-width: 500px; 
    margin: 10px 0; 
}
.activity.msg{
    padding-top: 50px;
}

.activity.disclaimer{
    padding-top: 50px;
}


@media (min-width: 350px) {
    .flex.activity {
        flex-direction: column; 
        padding-left: 10px; 
        padding-right: 10px; 
        
    }
}

